<main role="main" class="container">
  <h3><i class="fas fa-plane-arrival"></i> ARRIVALS</h3>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Airport</th>
        <th>Tail Number</th>
        <th>Aircraft Type</th>
        <th>Arrival Time</th>
        <th></th>
      </tr>
    </thead>
    <tbody class="runway_number_font">
      <% @arrivals.each do |arrival| %>
      <tr>
        <td><span style="font-family: 'Helvetica'";" class="badge badge-primary"><%= arrival.airport.identifier %></span></td>
        <td><%= arrival.tail_number %></td>
        <td><%= arrival.aircraft_type %></td>
        <td class="runway_number_font"><%= arrival.arrived_at %></td>
        <td>
          <form action="/arrivals/<%= arrival.id %>" method="post">
          <input id="hidden" type="hidden" name="_method" value="delete">
          <button type="submit" value="delete" class="btn btn-block btn-sm btn-link"><i class="text-danger fas fa-trash-alt"></i></button>
          </form>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <h3><i class="fas fa-plane-departure"></i> DEPARTURES</h3>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Airport</th>
        <th>Tail Number</th>
        <th>Aircraft Type</th>
        <th>Departure Time</th>
        <th></th>
      </tr>
    </thead>
    <tbody class="runway_number_font">
      <% @departures.each do |departure| %>
      <tr>
        <td><span style="font-family: 'Helvetica'";" class="badge badge-primary"><%= departure.airport.identifier %></span></td>
        <td><%= departure.tail_number %></td>
        <td><%= departure.aircraft_type %></td>
        <td><%= departure.departed_at %></td>
        <td>
          <form action="/departures/<%= departure.id %>" method="post">
          <input id="hidden" type="hidden" name="_method" value="delete">
          <button type="submit" value="delete" class="btn btn-block btn-sm btn-link"><i class="text-danger fas fa-trash-alt"></i></button>
          </form>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>  
</main>
      