<main role="main" class="container">
  <a href="/airports/new" class="btn btn-success">Create New Airport</a>
  <br/><br/>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Identifier</th>
        <th>Appch Rwy</th>
        <th>Dep Rwy</th>
        <th colspan="3">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @airports.each do |airport| %>
      <tr>
        <td><%= airport.name %></td>
        <td><span class="badge badge-primary"><%= airport.identifier %></span></td>
        <td class="runway_number_font"><%= airport.approach_rwy %></td>
        <td class="runway_number_font"><%= airport.departure_rwy %></td>
        <td><a href="/airports/show/<%=airport.id%>">View</a></td>
        <td><a href="/airports/edit/<%=airport.id%>">Edit</a></td>
        <td>Del</td>
      </tr>
      <% end %>
    </tbody>
  </table>
</main>
      